USE [master]
GO
/****** Object:  Database [MenuDirect]    Script Date: 9/9/2012 1:34:14 PM ******/
CREATE DATABASE [MenuDirect]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MenuDirect', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MenuDirect.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MenuDirect_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\MenuDirect_log.ldf' , SIZE = 784KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MenuDirect].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MenuDirect]
GO
/****** Object:  UserDefinedFunction [dbo].[getCatName]    Script Date: 9/9/2012 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[getCatName]
( @num AS int =0 
)
RETURNS VARCHAR(255)
AS
BEGIN
	DECLARE @name AS VARCHAR(255);
	SET @name = (SELECT categoryName FROM Category WHERE Num = @num);
  RETURN @name;
END

GO
/****** Object:  Table [dbo].[Category]    Script Date: 9/9/2012 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[categoryName] [varchar](255) NOT NULL,
	[categoryID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Category_1] PRIMARY KEY CLUSTERED 
(
	[categoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[order]    Script Date: 9/9/2012 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order](
	[orderDelivered] [bit] NOT NULL,
	[cookingCompleted] [bit] NOT NULL,
	[orderNumber] [int] IDENTITY(1,1) NOT NULL,
	[chefID] [int] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[orderNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[orderList]    Script Date: 9/9/2012 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderList](
	[orderLIstID] [int] IDENTITY(1,1) NOT NULL,
	[prodID] [int] NOT NULL,
	[orderNumber] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[orderLIstID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[product]    Script Date: 9/9/2012 1:34:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[product](
	[prodID] [int] IDENTITY(1,1) NOT NULL,
	[prodName] [varchar](255) NOT NULL,
	[prodPrice] [decimal](18, 2) NOT NULL,
	[prodCategoryName] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[prodID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [orderDelivered]
GO
ALTER TABLE [dbo].[order] ADD  DEFAULT ((0)) FOR [cookingCompleted]
GO
USE [master]
GO
