<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MenuDirect" connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=RICE6335\SQLEXPRESS;Initial Catalog=MenuDirect;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ServerUI.Properties.Settings.MenuDirectConnectionString"
      connectionString="Data Source=SIEGFRE-PC;Initial Catalog=MenuDirect;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="ServerUI.Properties.Settings.MenuDirectConnectionString1"
      connectionString="Data Source=RICE6335\SQLEXPRESS;Initial Catalog=MenuDirect;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>